
/*
Alcatel Fire: 320x480px;
*/

html {
    height: 100%;
    font-family: "Fira Sans OT";
    font-size: 10px;
}
body {
    height: 100%;
    margin: 0;
    background: rgb(241,241,237);
}
.card-content {
    position: relative;
    height: calc(100% - 5rem);
    overflow: scroll;
}
h1,
.title {
    font-size: 1.5rem;
    font-weight: normal;
}
p,
.description,
.state-title,
.state-description {
    font-size: 1.4rem;
}
.state-title {
    font-weight: bold;
}

.main-image img {
    width: 100%;
}

h1, p {
    margin: 1.2rem 3rem;
}
x-card > section:first-of-type > header:first-of-type {
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

header.separator {
  border: none;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  text-transform: none;
}

section[role="region"] header h2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.label-text {
  display: block;
  font-size: 1.6rem;
  line-height: 5rem;
  height: 5rem;
}

.vertical label {
  display: block;
  width: 100%;
}

.vertical label .label-text {
  width: auto;
}

.vertical label input ~ span:after {
  left: 2.5rem;
}

/*.vertical label.pack-radio input ~ span {
  background-position: left top;
  height: 5rem;
  left: 2.5rem;
  width: 5rem;
}*/

x-slides > x-slide {
  position: relative;
}

/******************************************************************************
 * Range inputs
 * (stolen from settings app)
 */

input[type=range] {
  -moz-appearance: none;
  border: none;
  background: none;
}

input[type=range]:-moz-focusring {
  outline: none;
}

ul li > label input[type="range"] {
  position: relative;
  top: calc(50% - 1.5rem);
  left: 5rem;
  right: 7rem;
  height: 3rem;
  width: calc(100% - 15rem);
}

input[type=range]::-moz-range-track {
  height: 0.1rem;
  background-color: #7e7e7e;
}

input[type=range]::-moz-range-progress {
  height: 0.3rem;
  background-color: #01c5ed;
}

input[type=range]::-moz-range-thumb {
  width: 2.8rem;
  height: 2.8rem;
  border: solid 0.1rem transparent;
  border-radius: 3rem;
  transition: border 0.15s ease;
  -moz-box-sizing: border-box;
  background: url(images/range_thumb.png) no-repeat 50% 50%;
  background-size: 2.8rem 2.8rem;
}

input[type=range]:active::-moz-range-thumb {
  border: solid 0.4rem #01c5ed;
}

ul li.sound-setting > label input[type="range"] {
  margin: 0 auto;
  width: calc(100% - 3rem);
  left: 1.5rem;
}

ul li#brightness-manual > label input[type="range"] {
  margin: 0 auto;
  width: calc(100% - 10rem);
  display: inline;
}

.full-width {
    width: 100%;
}
