<element name="backup">
  <template>

    <section role="region">
      <header>
        <a href="#.settings-panel#.settings-panel-list">
          <span class="icon icon-back">back</span>
        </a>
        <menu type="toolbar">
          <!-- <button class="explain"><span>info</span></button> -->
        </menu>
        <h1>Backup</h1>
      </header>
    </section>

    <div class="card-content topic backup">

      <div class="topic-top setting backup off">
        <div class="topic-switch">
          <span class="title"><font size="4">Backup</font></span>
          <div class="setting-toggle" data-action="backup-toggle"><div></div></div>
        </div>
      </div>

      <section data-type="list" class="full-height disabled">

        <ul class="settings-list large">
          <li class="border-bottom-none">
          <font size="2" color = "grey" >What should be part of the backup?</font>
          </li>
          <li class="setting fullbackup on">
            <div>
              <span class="title"><font size="4"> Full backup</font></span>
              <div class="setting-toggle" data-action="backup-togglefeature" data-target="fullBackup"><div></div></div>
            </div>
          </li>
          <section data-type="list" class="full-height disabled">
              <ul class="settings-list large">
          <li class="setting contactsbackup on">
            <div>
              <span class="title">Contacts</span>
              <div class="setting-toggle" data-action="backup-togglefeature" data-target="contactsBackup"><div></div></div>
            </div>
          </li>
          <li class="setting photosbackup on">
            <div>
              <span class="title">Photos</span>
              <div class="setting-toggle" data-action="backup-togglefeature" data-target="photosBackup"><div></div></div>
            </div>
          </li>
		  <li class="setting smsbackup on">
            <div>
              <span class="title">SMS history</span>
              <div class="setting-toggle" data-action="backup-togglefeature" data-target="smsBackup"><div></div></div>
            </div>
          </li>
          <li class="setting calendarbackup on">
            <div>
              <span class="title">Calendar</span>
              <div class="setting-toggle" data-action="backup-togglefeature" data-target="calendarBackup"><div></div></div>
            </div>
          </li>
          <li class="setting appsbackup on">
            <div>
              <span class="title">Applications</span>
              <div class="setting-toggle" data-action="backup-togglefeature" data-target="appsBackup"><div></div></div>
            </div>
          </li>
          <li class="setting mediabackup on">
            <div>
              <span class="title">Music & Video</span>
              <div class="setting-toggle" data-action="backup-togglefeature" data-target="mediaBackup"><div></div></div>
            </div>
          </li>
          </ul>
          </section>
          <li class="border-bottom-none">
            <p><font size="4">
              Backup service </font>
            </p>
            <p>
              Use a backup service of your choice
            </p>
            <span class="button icon icon-dialog select-dirt-hack">
              <select name="backup-service">
                <option value="0">Mozilla accounts</option>
                <option value="1">Deutsche Telekom cloud</option>
                <option value="2">Dropbox</option>
                <option value="3">Locally on your computer</option>
                <option value="4">SD card</option>
              </select>
            </span>
          </li>
          <li class="border-bottom-none">
            <p><font size="4">
              Frequency
              </font>
            </p>
            <p>
              How often a new backup will be created
            </p>
            <span class="button icon icon-dialog select-dirt-hack">
              <select name="backup-frequency">
                <option value="0">1 hour</option>
                <option value="1">3 hours</option>
                <option value="2">1 day</option>
                <option value="3">1 week</option>
              </select>
            </span>
          </li>
        </ul>
      </section>

    </div>

  </template>
</element>
