<element name="guest-mode">
  <template>

    <section role="region">
      <header>
        <a href="#.settings-panel#.settings-panel-list">
          <span class="icon icon-back">back</span>
        </a>
        <menu type="toolbar">
          <!-- <button class="explain"><span>info</span></button> -->
        </menu>
        <h1>Guest Mode</h1>
      </header>
    </section>

    <div class="card-content topic guest-mode">
      <div class="topic-top setting guest-mode off">
        <div class="illustrated-description">
          <div class="description on">
            The Guest Mode makes it possible to borrow your phone to friends with only selected apps activated. All other apps and data are safely hidden and can only be accessed with the phone’s pin code.
          </div>
          <div class="description off">
            If you borrow your phone to a friend or let your kids play with it, they will have access to all apps and all the sensitive data on your phone.
          </div>

          <div class="topic-details">
            <div class="main-image">
              <img class="on" src="/images/guestmode_on.png" alt="">
              <img class="off" src="/images/guestmode_off.png" alt="">
            </div>

            <div class="settings-scroll-target"></div>

            <div class="grip"></div>

          </div>
        </div>
        <div class="topic-switch">
          <div class="title">Guest Mode</div>
          <div class="setting-toggle" data-action="guestmode-toggle" id="switch"><div></div></div>
        </div>
      </div>

      <section data-type="list" class="full-height disabled">
        <ul class="settings-list large">
          <li class="border-bottom-none">
            <p>
              Access to resources
            </p>
            <p>
              Decide what sensors will be accessible
            </p>
          </li>
          <li class="setting resources on">
            <div>
              <span class="title">
                No sensor access
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="resourcesOFF"><div></div></div>
            </div>
          </li>
          <section data-type="list" class="full-height disabled">
          <ul class="settings-list large">
          <li class="setting 3g off">
            <div>
              <span class="title">
                Cellular data
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="3g"><div></div></div>
            </div>
          </li>
          <li class="setting wifi off">
            <div>
              <span class="title">
                Wi-Fi
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="wifi"><div></div></div>
            </div>
          </li>
          <li class="setting bluetooth off">
            <div>
              <span class="title">
                Bluetooth
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="bluetooth"><div></div></div>
            </div>
          </li>  
          <li class="setting gps off">
            <div>
              <span class="title">
                GPS
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="gps"><div></div></div>
            </div>
          </li> 
          </ul>
          </section>
          <li class="border-bottom-none">
          	<p>
              Access to data
            </p>
            <p>
              Decide what private data will be visible
            </p>
          </li>
          <li class="setting dataoff on">
            <div>
              <span class="title">
                No data access
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="dataoff"><div></div></div>
            </div>
          </li>
          <section data-type="list" class="full-height disabled">
          <ul class="settings-list large">
          <li class="setting contacts off">
            <div>
              <span class="title">
                Contacts
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="contacts"><div></div></div>
            </div>
          </li>
          <li class="setting callhistory off">
            <div>
              <span class="title">
                Call History
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="callhistory"><div></div></div>
            </div>
          </li>
          <li class="setting smshistory off">
            <div>
              <span class="title">
                SMS History
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="smshistory"><div></div></div>
            </div>
          </li>
          <li class="setting browsinghistory off">
            <div>
              <span class="title">
                Browser History
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="browsinghistory"><div></div></div>
            </div>
          </li>
          <li class="setting photos off">
            <div>
              <span class="title">
               Photos
              </span>
              <div class="setting-toggle" data-action="guestmode-togglefeature" data-target="photos"><div></div></div>
            </div>
          </li>
           </ul>
          </section>
          <li class="border-bottom-none">
            <p>
              Make a list of apps
            </p>
            <p>
              Apps that will be available in guest mode
            </p>
          </li>
          <li class="compact">
            <ul class="app-list guest-mode-app-list">
              <li class="setting">
                <p style="text-align: center;"><progress></progress></p>
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <section role="region" class="bottom-list bottom-description disabled">
        <section>
          <header class="separator">
            <h2>What is Guest Mode</h2>
          </header>
        </section>
        <section data-type="list">
          <ul class="settings-list large">
            <li class="setting">
              <p>
              The Guest Mode makes it possible to borrow your phone to friends with only selected apps activated. All other apps and data are safely hidden and can only be accessed with the phone’s pin code.
              </p>
            </li>
          </ul>
        </section>
      </section>

    </div>
      

  </template>
</element>
