<element name="location-blur">
  <template>

    <section role="region">
      <header>
        <a href="#.settings-panel#.settings-panel-list">
          <span class="icon icon-back">back</span>
        </a>
        <menu type="toolbar">
          <!-- <button class="explain"><span>info</span></button> -->
        </menu>
        <h1>Location Blur</h1>
      </header>
    </section>

    <div class="card-content topic location-blur">
      <div class="topic-top setting location-blur off">
        <div class="illustrated-description">
          <div class="description on">
            Not every app needs your exact location to function properly. Instead of sharing your exact coordinates, you can choose to not share any location, a random place or pick a country, effectively blurring your location.
          </div>
          <div class="description off">
            Many apps will access your exact location to tailor information to your needs. All this data combined can be used to generate a movement profile of all the places you have been to.
          </div>

          <div class="topic-details">
            <div class="main-image">
              <img class="on" src="/images/locationblur_on.png" alt="">
              <img class="off" src="/images/locationblur_off.png" alt="">
            </div>

            <div class="settings-scroll-target"></div>

            <div class="grip"></div>

          </div>
        </div>
        <div class="topic-switch">
          <div class="title">Location Blur</div>
          <div class="setting-toggle" data-action="locationblur-toggle"><div></div></div>
        </div>
      </div>


<li>
          <label>
            <button id="AAAA"
                    class="icon icon-view">
              Manage certificates
            </button>
          </label>
        </li>
       
      <section data-type="list" class="full-height disabled">
        <ul class="settings-list large">
        
        
        <li class="compact">
            <ul class="app-list loc-blur-app-list">
              <li class="setting">
                <p style="text-align: center;"><progress></progress></p>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      
      <section role="region" class="bottom-list bottom-description disabled">
        <section>
          <header class="separator">
            <h2>What is Location Blur</h2>
          </header>
        </section>
        <section data-type="list">
          <ul class="settings-list large">
            <li class="setting">
              <p>
                Not every app needs your exact location to function properly. Instead of sharing your exact coordinates, you can choose to not share any location, a random place or pick a country, effectively blurring your location.
              </p>
            </li>
          </ul>
        </section>
      </section>
    </div>

  </template>
</element>
