          <li class="_level-of-blur-widget">
            <form class="locationBlurSettings">
              <div class="setting level-of-blur city">
                <p>Precision</p>
                <p>How precise should the location be?</p>
                <ul class="settings-list large">
                  <li class="description">
                    <label class="pack-radio setting on">
                      <input type = "radio"
                             name = "locationblur-precision"
                             id = "LocOff"
                             value = "Off"
                             checked
                             required />
                      <span>Turn location off</span>
                    </label>
                  </li>
                  <li class="description">
                    <label class="pack-radio setting off">
                      <input type = "radio"
                             name = "locationblur-precision"
                             id = "LocRandom"
                             value = "Random"
                             required />
                      <span>Use random location</span>
                    </label>
                  </li>
                  <li class="description">
                    <label class="pack-radio setting off">
                      <!--<input type = "radio"
                             name = "locationblur-precision"
                             id = "LocMap"
                             value = "Map"
                             onclick = "app.locationBlur.setBlurLevel(this)"
                             required />-->
                      <input type = "radio"
                             name = "locationblur-precision"
                             id = "LocCountry"
                             value = "Country"
                             required />
                      <span>Choose country</span>
                    </label>
                    <section class="settings-list disabled">
                      <div class="countrySelectContainer"></div>
                    </section>
                  </li>
                </ul>
                <!--<p class="after" data-content="settings.locationBlur.description[settings.locationBlur.currentValue]">
                    Apps will get the centre of the city you are in as your location. For most weather apps that is enough information.
                </p>-->
              </div>
            </form>
          </li>
        </ul>
      </section>